name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Ruff
        run: pip install ruff
      - name: Run Ruff
        run: ruff check --extend-select=S,TYP --ignore=S105,S110 --target-version py311 --per-file-ignores "plugins/web/web.py:S104,plugins/web/web.py:S108,plugins/web/web.py:S112,plugins/web/web.py:S607" .
      - name: Install mypy
        run: pip install mypy
      - name: Run mypy
        run: mypy --install-types --non-interactive --no-strict-optional --ignore-missing-imports .

